* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn.load-more {
  display: block;
  margin: auto;
  color: #fff;
  background: #24292e;
}

.fit-img {
	display: inline-block;
	max-width: 100%;
}

.users-list-wrap {
  padding: 20px;
}

.users-list-wrap>.user {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 5px 0;
  padding: 5px 0;
  border-bottom: 1px solid #e3e3e3;
}

.user>img {
  max-height: 64px;
  margin-right: 10px;
}

.user>a {
  margin-left: auto;
  color: #333;
}

.user-details {
	text-align: center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3e3e3e url(../img/loader.gif) center no-repeat;
}

.list-footer {
  padding: 10px 0;
  text-align: center;
}

.navigation {
	padding: 10px 0;
}
